@charset "UTF-8";

@font-face {
  font-family: "binghamton-enactus";
  src:url("fonts/binghamton-enactus.eot");
  src:url("fonts/binghamton-enactus.eot?#iefix") format("embedded-opentype"),
    url("fonts/binghamton-enactus.woff") format("woff"),
    url("fonts/binghamton-enactus.ttf") format("truetype"),
    url("fonts/binghamton-enactus.svg#binghamton-enactus") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "binghamton-enactus" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "binghamton-enactus" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-circled:before {
  content: "a";
}
.icon-twitter-circled:before {
  content: "b";
}
.icon-pinterest-circled:before {
  content: "c";
}
.icon-linkedin-circled:before {
  content: "d";
}
.icon-flickr-circled:before {
  content: "e";
}
