html {
  background: url(https://s3.amazonaws.com/ooomf-com-files/kIlSDateSiyn420ZmgjA_IMG_3768.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-page-container {
  margin: 0 auto;
}

svg {
  height: 25%;
  width: 25%;
}