html {  
  background: url(../assets/binghamton_downtown_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}
.overlay {
  height:100%;
  width:100%;
  position:fixed;
  left:0;
  top:0;
  z-index: -1 !important;
  background-color: rgba(0,0,0,0.3);
}
#enactus-logo-image-box {
  background-image: url(../assets/enactus_logo_white.svg); 
  background-position: center; 
  background-size: contain; 
  background-repeat: no-repeat; 
  height: 400px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-style: bold;
}


h4, h5, h6, p {
  font-style: normal;
  font-weight: 300;
}

em {
  font-weight: 300;
  font-style: italic;
}

.home-page-container {
  margin: auto auto;
  position: relative;
  top: 50%;
  text-align: center;
  vertical-align: middle;
  margin-top: 3%;
}

.mc-field-group input[type="email"] {
  width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 1em;
  margin: 0;
  border: none;
}

.clear input[type="submit"] {
  width: 302px;
  background-color: #1abc9c;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border: none;
}
a {
  color: #3498db;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #f39c12;
}