<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3" id="footer_description">
        <img src="{{ '/assets/logo.png' | prepend: site.baseurl }}" alt="" class="img-responsive">
        <p><strong><span>En</span>trepreneurial</strong> - having the perspective to see an opportunity and the talent to create value from that opportunity;
        </p>
        <p><strong><span>Act</span>ion</strong> - the willingness to do something and the commitment to see it through even when the outcome is not guaranteed;</p>
        <p><strong><span>Us</span></strong> - a group of people who see themselves connected in some important way; individuals that are part of a greater whole.</p>
      </div>

      <div class="col-md-3" id="footer_social">
        <h3>Get Connected</h3>
        <ul>
          <li><a href="" class="valign_text"><span class="icon-facebook-circled"></span><span></span></a></li>
          <li><a href=""><span class="icon-twitter-circled"></span><span></span></a></li>
          <li><a href=""><span class="icon-linkedin-circled"></span><span></span></a></li>
          <li><a href=""><span class="icon-flickr-circled"></span><span></span></a></li>
          <li><a href=""><span class="icon-pinterest-circled"></span><span></span></a></li>
        </ul>
      </div>

      <div class="col-md-6" id="footer_contact">
        <h3>Contact Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quia voluptate distinctio amet, ex non dolor expedita error repellat velit vero, eligendi magni voluptates rerum iure sed? Tempore, quidem, in.</p>
      </div>
  </div>
</footer>