$enactus_gold: #ffc222;
$enactus_gold_shadow: #C88A12;
$enactus_gray: #515356;
$enactus_dark_gray: #4c4c4c;
$enactus_darker_gray: #444;
$enactus_lighter_gray: #f3f3f3;
$enactus_light_gray: #6d6d6e;
$enactus_blue: #0397d6;

$enactus_footer_light_gray: #bdc0c0;
